body { 
    background: whitesmoke;
}

#header {
    text-align: center;
    border-bottom: 3px black solid;
}

#body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 100vh;
}

#project-list {
    background: lightgray;
    padding: 0 5px 0px;
    margin-left: -8px;
}

#task-list {
    margin-left: 5px;
}

button {
    margin-bottom: 10px;
}